In [1]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import pickle

In [28]:
cwd = os.getcwd()
cancel = pd.read_csv(cwd + '/cancel.csv')

In [3]:
infile = open('yearly_flights.pickle', 'rb')
yearly = pickle.load(infile)
infile.close()

"A" = "Carrier" <br> 
> The cause of the cancellation or delay was due to circumstances within the airline's control (e.g. maintenance or crew problems, etc.).<br>

"B" = "Weather" <br> 
> Significant meteorological conditions (actual or forecasted) that, in the judgment of the carrier, delays or prevents the operation of a flight such as tornado, blizzard or hurricane.<br>

"C" = "National Air System" <br>
> Cancellations attributable to the national aviation system that refer to a broad set of conditions, such as non-extreme weather conditions, airport operations, heavy traffic volume, and air traffic control.<br>

"D" = "Security" <br>
> Cancellations caused by evacuation of a terminal or concourse, re-boarding of aircraft because of security breach, inoperative screening equipment and/or long lines in excess of 29 minutes at screening areas.<br>

In [29]:
A = cancel[cancel['CANCELLATION_CODE'] == 'A']
B = cancel[cancel['CANCELLATION_CODE'] == 'B']
C = cancel[cancel['CANCELLATION_CODE'] == 'C']
D = cancel[cancel['CANCELLATION_CODE'] == 'D']

In [5]:
#certain planes that might be more prone to canceltaion
A['TAIL_NUM'].value_counts()[:15]

N719EV    66
N738EV    60
N226JS    52
N248PS    51
N603QX    49
N244PS    48
N250PS    48
N258PS    48
N251PS    47
N617QX    47
N600QX    45
N611QX    44
N230PS    42
N720EV    42
N223JS    41
Name: TAIL_NUM, dtype: int64

In [6]:
A['ORIGIN_CITY_NAME'].value_counts()[:10]

Charlotte, NC            1939
Dallas/Fort Worth, TX    1406
New York, NY             1359
Washington, DC           1109
Chicago, IL              1062
Los Angeles, CA          1034
Houston, TX               764
Newark, NJ                704
San Francisco, CA         675
Philadelphia, PA          667
Name: ORIGIN_CITY_NAME, dtype: int64

In [8]:
B['ORIGIN_CITY_NAME'].value_counts()[:10]

Chicago, IL              4853
New York, NY             4548
Charlotte, NC            2869
Dallas/Fort Worth, TX    2592
Washington, DC           2535
Boston, MA               2393
Atlanta, GA              2327
Newark, NJ               2181
Philadelphia, PA         1857
Minneapolis, MN          1312
Name: ORIGIN_CITY_NAME, dtype: int64

In [9]:
C['ORIGIN_CITY_NAME'].value_counts()[:10]

New York, NY             3992
Chicago, IL              2216
Newark, NJ               1415
Washington, DC            997
Atlanta, GA               896
Boston, MA                743
San Francisco, CA         719
Baltimore, MD             707
Dallas/Fort Worth, TX     637
Philadelphia, PA          573
Name: ORIGIN_CITY_NAME, dtype: int64

In [10]:
D['ORIGIN_CITY_NAME'].value_counts()[:10]

Phoenix, AZ              16
Orlando, FL              15
Charlotte, NC             4
Belleville, IL            3
Dallas/Fort Worth, TX     3
Chicago, IL               3
New York, NY              2
Los Angeles, CA           2
San Francisco, CA         2
Valparaiso, FL            1
Name: ORIGIN_CITY_NAME, dtype: int64

In [11]:
A['OP_UNIQUE_CARRIER'].value_counts()

WN    5372
OH    4425
AA    4176
YV    2216
YX    1663
MQ    1519
F9    1476
B6    1377
EV    1195
AS     985
UA     891
OO     772
DL     565
G4     396
NK     331
9E     314
HA     256
VX     224
Name: OP_UNIQUE_CARRIER, dtype: int64

In [12]:
B['OP_UNIQUE_CARRIER'].value_counts()

WN    9774
AA    8535
OO    7760
OH    5362
YX    4813
DL    3864
B6    3601
UA    3265
MQ    2204
YV    2105
9E    2009
EV    1389
NK    1289
F9     752
AS     576
G4     243
VX     201
HA      14
Name: OP_UNIQUE_CARRIER, dtype: int64

In [14]:
C['OP_UNIQUE_CARRIER'].value_counts()

MQ    5581
9E    3661
YX    2823
WN    2792
EV    2464
OO    1674
B6    1311
DL    1082
AA     721
OH     704
YV     549
AS     403
NK     217
UA     217
VX     106
G4      33
Name: OP_UNIQUE_CARRIER, dtype: int64

In [15]:
D['OP_UNIQUE_CARRIER'].value_counts()

AA    32
F9    12
B6    10
YV     8
G4     5
WN     2
OH     2
YX     1
NK     1
Name: OP_UNIQUE_CARRIER, dtype: int64

In [19]:
A['MONTH'].value_counts()

6     5970
7     3400
8     3100
3     2355
1     2323
5     2204
9     1882
4     1869
2     1735
10    1641
12     997
11     677
Name: MONTH, dtype: int64

In [18]:
B['MONTH'].value_counts()

3     13566
1     12656
2      5753
9      4609
7      3479
4      3233
5      3217
8      3159
12     2947
6      2486
10     2147
11      504
Name: MONTH, dtype: int64

In [16]:
C['MONTH'].value_counts()

8     6094
7     4204
6     2238
1     2189
5     1734
9     1606
2     1486
12    1380
3     1358
4     1144
10     697
11     208
Name: MONTH, dtype: int64

In [17]:
D['MONTH'].value_counts()

9     35
11    29
4      5
2      2
3      1
1      1
Name: MONTH, dtype: int64

In [57]:
A.groupby(['OP_UNIQUE_CARRIER','ORIGIN','MONTH']).size().agg({'greater': lambda val: (val >10).count()})

greater    6452
dtype: int64

In [41]:
A.groupby(['OP_UNIQUE_CARRIER','ORIGIN','MONTH']).size()

In [54]:
B.groupby(['OP_UNIQUE_CARRIER','ORIGIN']).size()

OP_UNIQUE_CARRIER  ORIGIN
9E                 ABY         1
                   ACK         1
                   AGS         1
                   ATL        55
                   ATW         2
                   AUS         1
                   BDL         2
                   BGR        14
                   BHM         2
                   BMI         1
                   BNA        25
                   BOS        75
                   BQK         4
                   BTR         1
                   BTV        35
                   BUF        50
                   BWI        24
                   CAE         4
                   CHO         4
                   CHS        10
                   CID         1
                   CLE        19
                   CLT        42
                   CMH         9
                   CRW         2
                   CSG         1
                   CVG        62
                   CWA         5
                   DAY         3
                   DCA        24
                            ...
YX                 MSY        19
                   MVY         1
                   MYR         9
                   OKC         3
                   OMA        15
                   ORD       213
                   ORF        60
                   PBI         6
                   PHF         2
                   PHL       439
                   PIT        92
                   PNS         5
                   PVD        32
                   PWM        33
                   RAP         1
                   RDU       123
                   RIC         9
                   ROC        32
                   RSW         1
                   SAV        16
                   SDF        38
                   SLC         4
                   SRQ         3
                   STL        34
                   SYR        37
                   TLH         8
                   TUL         2
                   TVC         1
                   VPS         1
                   XNA        20
Length: 1571, dtype: int64

In [37]:
C.groupby(['OP_UNIQUE_CARRIER','ORIGIN','MONTH']).size()

OP_UNIQUE_CARRIER  ORIGIN  MONTH
9E                 ABY     1         3
                   ACK     8         2
                   AEX     1         2
                   AGS     6         1
                           7         1
                           10        1
                   ATL     1        49
                           2         6
                           4         1
                           5         1
                           6        21
                           7        11
                           8         1
                           9         8
                           10        3
                   ATW     1         2
                           2         1
                   AUS     8         1
                   AVL     6         2
                           7         2
                           8         1
                   BDL     2         2
                           3         1
                           8         1
                   BGR     1        17
                           2         3
                           3         4
                           4         1
                           5         1
                           7         3
                                    ..
YX                 SDF     7         5
                           8        12
                           9         4
                           10        1
                   SRQ     7         2
                           8         2
                   STL     2         1
                           4         1
                           5         5
                           6         6
                           7        12
                           8        11
                           9         5
                   SYR     3         1
                           4         1
                           5         1
                           6         2
                           7         3
                           8         5
                           10        1
                   TLH     9         1
                   TVC     8         1
                   VPS     10        1
                   XNA     2         1
                           4         1
                           5         1
                           6         1
                           7         3
                           8         5
                           9         5
Length: 4365, dtype: int64

In [32]:
D_code.groupby(['OP_UNIQUE_CARRIER','ORIGIN','MONTH']).size()

OP_UNIQUE_CARRIER  ORIGIN  MONTH
AA                 CLT     9         2
                           11        1
                   DFW     9         3
                   IND     9         1
                   JFK     11        1
                   LAX     9         1
                   MCO     11        3
                   MIA     11        1
                   MKE     9         1
                   MSP     9         1
                   ORD     9         2
                   PHX     9        11
                   SFO     9         1
                   SJC     9         1
                   SMF     9         1
                   TPA     9         1
B6                 AUS     11        1
                   EWR     11        1
                   HPN     11        1
                   LGA     11        1
                   MCO     11        5
                   PVD     11        1
F9                 DEN     11        1
                   LAX     11        1
                   MCO     11        6
                   ORD     11        1
                   PHL     11        1
                   SAN     11        1
                   SFO     11        1
G4                 BLV     4         3
                   JAX     4         1
                   VPS     4         1
NK                 BOS     1         1
OH                 CLT     2         1
                   PIA     2         1
WN                 MCO     11        1
                   PHX     9         1
YV                 IAH     9         1
                   PHX     9         4
                   SBA     9         1
                   SBP     9         1
                   TUS     9         1
YX                 DCA     3         1
dtype: int64